.contenedorFormularioIngresar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: auto;
    background-color: rgb(182, 182, 182);
    form {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        height: 70%;
        .labelIngresar{
            display: flex;
            flex-direction: column;
            margin: .8rem;
            font-size: 1.2rem;
            input{
                padding: .3rem;
                border-radius: .5rem;
                border-color: transparent;
                margin-top: .5rem;
            }
        }
    }
    h2{
        height: 10%;
        margin-top: 2rem;
    }
}

.contenedorIngresar{
    height: 27rem;
    border-radius: 1rem;
    background-color: rgb(37, 37, 37);
    color: white;
    width: 20rem;
    margin: auto;
    p{
        color: rgb(27, 117, 252);
        text-decoration: underline;
    }
}

.main{
    height: 85vh;
}

.btnIngresar{
    margin: 1rem auto;
    width: 40%;
}