#bodyHome{
    background-color: rgba(7,35,71,1);
    padding: 3rem;
    h2{
        font-family: cursive;
        font-weight: bolder;
    }
}

.contenedorSectionHome{
    border: solid grey 2px;
    color: white;
    margin: auto;
    max-width: 50rem;
    border-radius: 1rem;
    padding: 2rem;
    p{
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 1.2rem;
    }
}

.contenedorSectionRequisitos{
    margin: 2rem auto;
    border: solid grey 2px;
    color: white;
    border-radius: 1rem;
    max-width: 50rem;
    padding: 2rem;
    p{
        padding: 1.2rem;
    }
}

.contenedorSectionNovedades{
    margin: auto;
    border: solid grey 2px;
    color: white;
    border-radius: 1rem;
    max-width: 50rem;
    padding: 2rem;
    p{
        padding: 1.2rem;
    }
}

@media screen and (max-width: 910px){
    .contenedorSectionHome, .contenedorSectionRequisitos, .contenedorSectionNovedades{
        width: 95%;
        font-size: .9rem;
    }
}