#bodyHome{
    background-color: aqua;
    padding: 3rem;
    h2{
        font-family: cursive;
        font-weight: bolder;
    }
}

.contenedorSectionHome{
    background-color: rgb(255, 196, 0);
    margin: auto;
    max-width: 50rem;
    border-radius: 1rem;
    padding: 2rem;
    p{
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 1.2rem;
    }
}

.contenedorSectionRequisitos{
    margin: 2rem auto;
    background-color: rgb(1, 107, 27);
    border-radius: 1rem;
    max-width: 50rem;
    padding: 2rem;
    p{
        padding: 1.2rem;
    }
}

.contenedorSectionNovedades{
    margin: auto;
    background-color: rgb(2, 72, 202);
    border-radius: 1rem;
    max-width: 50rem;
    padding: 2rem;
    p{
        padding: 1.2rem;
    }
}

@media screen and (max-width: 910px){
    .contenedorSectionHome, .contenedorSectionRequisitos, .contenedorSectionNovedades{
        width: 75%;
    }
}