footer{
    background-color: white;
    bottom: 0;
    position: relative;
}

.contenedorFooter{
    display: flex;
}

@media screen and (max-width: 440px) {
    .contenedorNosotrosRedesFooter{
        flex-direction: column-reverse;
        h4{
            text-align: center;
        }
    }
    .contenedorNosotrosFooter{
        margin-top: 3rem;
    }
    .contenedorNosotrosRedesFooter{
        margin-top: 1rem;
    }
}

.contenedorNosotrosFooter{
    text-align: center;
    p{
        margin: 0;
    }
}

.contenedorNosotrosRedesFooter{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    h4{
        font-weight: bolder;
        font-family: cursive;
    }
}

.conetendorRedes{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    .iconFacebook, .iconInstagram, .iconYoutube{
        font-size: 1.5rem;
    }
}

.iconFacebook:hover, .iconInstagram:hover, .iconYoutube:hover{
    color: rgb(3, 156, 156);
    cursor: pointer;
}

.nosotrosFooter{
    text-decoration-line: underline;
}

.nosotrosFooter:hover{
    color: rgb(3, 156, 156);
}